* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", SansSerif;
    background-image: url("https://Kevindavis5454.github.io/quiz-app-final-kd/assets/gradientbluebackground.png");
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    text-align: center;
}

header .question-and-score {
    color:white;
}

fieldset {
    border-radius: 10px;
}

label {
    font-size:18px;
}

button {
    margin-top:10px;
    height: auto;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color:black;
    background: orange;
    border: 0;
    cursor: pointer;
    margin-bottom: 0;
    border-radius:3px;
    padding: 10px 20px;
}

button:hover:enabled,
button:focus:enabled{
    background-color: #ff8d00;
    -webkit-transition: background 0.1s;
    -moz-transition: background 0.1s;
    -o-transition: background 0.1s;
    transition: background 0.1s;
}

button:disabled {
    opacity:0.5;
}

.js-row {
    max-width: 450px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.question-form .question {
    padding: 0 2%;
    font-size: 20px;
    font-weight: 600;
}

.options span {
    display:block;
    border-radius:5px;
    text-align: center;
    width: 220px;
}

.js-col-12 {
    text-align: center;
    padding: 10px;
}

.js-options {
    text-align: left;
    margin-left: 60px;
}

.right-answer {
    background:grey;
    padding: 10px 20px;
    margin: 5px 20px;
    border:2px solid darkgreen;
    border-radius:5px;
    max-width: 270px;
}

.wrong-answer {
    background:grey;
    padding: 10px;
    margin: 5px 20px;
    border:2px solid #fe0000;
    border-radius:5px;
    max-width: 270px;
}
#puppies-bench {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#high-five {
    height: 100px;
    width: 150px;
    margin-left:auto;
    margin-right: auto;
}

#aussie-no {
    height: 150px;
    margin-left:auto;
    margin-right: auto;
}

#aussie-fence {
    height: 300px;
}

#score-results {
    border: solid black 3px;
    padding: 10px;
    background-color: grey;
    border-radius:5px;
}

.ques-score {
    display: inline-block;
}

#js-answered {
    border: solid black 3px;
    background-color: grey;
    padding: 10px;
    border-radius:5px;
}

#js-score {
    border: solid black 3px;
    background-color: grey;
    padding: 10px;
    border-radius:5px;
}


@media only screen and (max-width: 700px) {


}