* {
    box-sizing: border-box;
}

body {
    font-family: SansSerif;
}

.right-answer {
    background:ivory;
    padding: 10px 20px;
    margin: 5px 20px;
    border:2px solid greenyellow;
}

.wrong-answer {
    background:ivory;
    padding: 10px;
    margin: 5px 20px;
    border:2px solid #fe0000;
}